{{#xy-part}}
  <h2>Why CSS Modules?</h2>
  <p>
    Make CSS a first-class citizen in your Ember components. It makes it easier to extend the styles,
    use CSS vars in your javascript, and best of all, have your <code>styles.css</code> file in your
    component pod right along side the <code>template.hbs</code> and <code>component.js</code> files!
  </p>

  <p>
    <pre><code>
    components/
    ...
    |-- my-component/
        |-- component.js
        |-- styles.css
        |-- template.hbs
    ...
    </code></pre>
  </p>
{{/xy-part}}
