:root {
  --xs-min: 30;
  --sm-min: 48;
  --md-min: 64;
  --lg-min: 80;
  --xl-min: 128;
  --screen-xs-min: var(--xs-min)rem;
  --screen-sm-min: var(--sm-min)rem;
  --screen-md-min: var(--md-min)rem;
  --screen-lg-min: var(--lg-min)rem;
  --screen-xl-min: var(--xl-min)rem;
}

@custom-media --xs-viewport only screen and (min-width: --var(--screen-xs-min));
@custom-media --sm-viewport only screen and (min-width: --var(--screen-sm-min));
@custom-media --md-viewport only screen and (min-width: --var(--screen-md-min));
@custom-media --lg-viewport only screen and (min-width: --var(--screen-lg-min));
@custom-media --xl-viewport only screen and (min-width: --var(--screen-xl-min));

.xy-section {
  display: block;
}

/* LEFT */
.pad-l-xs {
  padding-left: 10px;
}
.pad-l-sm {
  padding-left: 10px;
}
.pad-l-md {
  padding-left: 10px;
}
.pad-l-lg {
  padding-left: 10px;
}
.pad-l-xl {
  padding-left: 10px;
}
.pad-l-none {
  padding-bottom: 0;
}

.mar-l-xs {
  margin-left: 10px;
}
.mar-l-sm {
  margin-left: 10px;
}
.mar-l-md {
  margin-left: 10px;
}
.mar-l-lg {
  margin-left: 10px;
}
.mar-l-xl {
  margin-left: 10px;
}
.mar-l-none {
  margin-bottom: 0;
}

/* TOP */
.pad-t-xs {
  padding-top: 10px;
}
.pad-t-sm {
  padding-top: 10px;
}
.pad-t-md {
  padding-top: 10px;
}
.pad-t-lg {
  padding-top: 10px;
}
.pad-t-xl {
  padding-top: 10px;
}
.pad-t-none {
  padding-bottom: 0;
}

.mar-t-xs {
  margin-top: 10px;
}
.mar-t-sm {
  margin-top: 10px;
}
.mar-t-md {
  margin-top: 10px;
}
.mar-t-lg {
  margin-top: 10px;
}
.mar-t-xl {
  margin-top: 10px;
}
.mar-t-none {
  margin-bottom: 0;
}

/* RIGHT */
.pad-r-xs {
  padding-right: 10px;
}
.pad-r-sm {
  padding-right: 10px;
}
.pad-r-md {
  padding-right: 10px;
}
.pad-r-lg {
  padding-right: 10px;
}
.pad-r-xl {
  padding-right: 10px;
}
.pad-r-none {
  padding-bottom: 0;
}

.mar-r-xs {
  margin-top: 10px;
}
.mar-r-sm {
  margin-top: 10px;
}
.mar-r-md {
  margin-top: 10px;
}
.mar-r-lg {
  margin-top: 10px;
}
.mar-r-xl {
  margin-top: 10px;
}
.mar-r-none {
  margin-bottom: 0;
}

/* BOTTOM */
.pad-b-xs {
  padding-bottom: 10px;
}
.pad-b-sm {
  padding-bottom: 10px;
}
.pad-b-md {
  padding-bottom: 10px;
}
.pad-b-lg {
  padding-bottom: 10px;
}
.pad-b-xl {
  padding-bottom: 10px;
}
.pad-b-none {
  padding-bottom: 0;
}

.mar-b-xs {
  margin-top: 10px;
}
.mar-b-sm {
  margin-top: 10px;
}
.mar-b-md {
  margin-top: 10px;
}
.mar-b-lg {
  margin-top: 10px;
}
.mar-b-xl {
  margin-top: 10px;
}
.mar-b-none {
  margin-bottom: 0;
}

@media (min-width: 30rem) {
  /* LEFT */
  .pad-l-xs {
    padding-left: 16px;
  }
  .pad-l-sm {
    padding-left: 16px;
  }
  .pad-l-md {
    padding-left: 16px;
  }
  .pad-l-lg {
    padding-left: 16px;
  }
  .pad-l-xl {
    padding-left: 16px;
  }

  .mar-l-xs {
    margin-left: 16px;
  }
  .mar-l-sm {
    margin-left: 16px;
  }
  .mar-l-md {
    margin-left: 16px;
  }
  .mar-l-lg {
    margin-left: 16px;
  }
  .mar-l-xl {
    margin-left: 16px;
  }

  /* TOP */
  .pad-t-xs {
    padding-top: 16px;
  }
  .pad-t-sm {
    padding-top: 16px;
  }
  .pad-t-md {
    padding-top: 16px;
  }
  .pad-t-lg {
    padding-top: 16px;
  }
  .pad-t-xl {
    padding-top: 16px;
  }

  .mar-t-xs {
    margin-left: 16px;
  }
  .mar-t-sm {
    margin-left: 16px;
  }
  .mar-t-md {
    margin-left: 16px;
  }
  .mar-t-lg {
    margin-left: 16px;
  }
  .mar-t-xl {
    margin-left: 16px;
  }

  /* RIGHT */
  .pad-r-xs {
    padding-right: 16px;
  }
  .pad-r-sm {
    padding-right: 16px;
  }
  .pad-r-md {
    padding-right: 16px;
  }
  .pad-r-lg {
    padding-right: 16px;
  }
  .pad-r-xl {
    padding-right: 16px;
  }

  .mar-r-xs {
    margin-left: 16px;
  }
  .mar-r-sm {
    margin-left: 16px;
  }
  .mar-r-md {
    margin-left: 16px;
  }
  .mar-r-lg {
    margin-left: 16px;
  }
  .mar-r-xl {
    margin-left: 16px;
  }

  /* BOTTOM */
  .pad-b-xs {
    padding-bottom: 16px;
  }
  .pad-b-sm {
    padding-bottom: 16px;
  }
  .pad-b-md {
    padding-bottom: 16px;
  }
  .pad-b-lg {
    padding-bottom: 16px;
  }
  .pad-b-xl {
    padding-bottom: 16px;
  }

  .mar-b-xs {
    margin-left: 16px;
  }
  .mar-b-sm {
    margin-left: 16px;
  }
  .mar-b-md {
    margin-left: 16px;
  }
  .mar-b-lg {
    margin-left: 16px;
  }
  .mar-b-xl {
    margin-left: 16px;
  }
}

@media (min-width: 48rem) {
  /* LEFT */
  .pad-l-xs {
    padding-left: 14px;
  }
  .pad-l-sm {
    padding-left: 16px;
  }
  .pad-l-md {
    padding-left: 24px;
  }
  .pad-l-lg {
    padding-left: 32px;
  }
  .pad-l-xl {
    padding-left: 40px;
  }

  .mar-l-xs {
    margin-left: 14px;
  }
  .mar-l-sm {
    margin-left: 16px;
  }
  .mar-l-md {
    margin-left: 24px;
  }
  .mar-l-lg {
    margin-left: 32px;
  }
  .mar-l-xl {
    margin-left: 40px;
  }

  /* TOP */
  .pad-t-xs {
    padding-top: 14px;
  }
  .pad-t-sm {
    padding-top: 16px;
  }
  .pad-t-md {
    padding-top: 24px;
  }
  .pad-t-lg {
    padding-top: 32px;
  }
  .pad-t-xl {
    padding-top: 40px;
  }

  .mar-t-xs {
    margin-top: 14px;
  }
  .mar-t-sm {
    margin-top: 16px;
  }
  .mar-t-md {
    margin-top: 24px;
  }
  .mar-t-lg {
    margin-top: 32px;
  }
  .mar-t-xl {
    margin-top: 40px;
  }

  /* RIGHT */
  .pad-r-xs {
    padding-right: 14px;
  }
  .pad-r-sm {
    padding-right: 16px;
  }
  .pad-r-md {
    padding-right: 24px;
  }
  .pad-r-lg {
    padding-right: 32px;
  }
  .pad-r-xl {
    padding-right: 40px;
  }

  .mar-r-xs {
    margin-right: 14px;
  }
  .mar-r-sm {
    margin-right: 16px;
  }
  .mar-r-md {
    margin-right: 24px;
  }
  .mar-r-lg {
    margin-right: 32px;
  }
  .mar-r-xl {
    margin-right: 40px;
  }

  /* BOTTOM */
  .pad-b-xs {
    padding-bottom: 14px;
  }
  .pad-b-sm {
    padding-bottom: 16px;
  }
  .pad-b-md {
    padding-bottom: 24px;
  }
  .pad-b-lg {
    padding-bottom: 32px;
  }
  .pad-b-xl {
    padding-bottom: 40px;
  }

  .mar-b-xs {
    margin-bottom: 14px;
  }
  .mar-b-sm {
    margin-bottom: 16px;
  }
  .mar-b-md {
    margin-bottom: 24px;
  }
  .mar-b-lg {
    margin-bottom: 32px;
  }
  .mar-b-xl {
    margin-bottom: 40px;
  }
}
@media (min-width: 64rem) {
  /* LEFT */
  .pad-l-xs {
    padding-left: 16px;
  }
  .pad-l-sm {
    padding-left: 24px;
  }
  .pad-l-md {
    padding-left: 32px;
  }
  .pad-l-lg {
    padding-left: 40px;
  }
  .pad-l-xl {
    padding-left: 48px;
  }

  .mar-l-xs {
    margin-left: 16px;
  }
  .mar-l-sm {
    margin-left: 24px;
  }
  .mar-l-md {
    margin-left: 32px;
  }
  .mar-l-lg {
    margin-left: 40px;
  }
  .mar-l-xl {
    margin-left: 48px;
  }

  /* TOP */
  .pad-t-xs {
    padding-top: 16px;
  }
  .pad-t-sm {
    padding-top: 24px;
  }
  .pad-t-md {
    padding-top: 32px;
  }
  .pad-t-lg {
    padding-top: 40px;
  }
  .pad-t-xl {
    padding-top: 48px;
  }

  .mar-t-xs {
    margin-top: 16px;
  }
  .mar-t-sm {
    margin-top: 24px;
  }
  .mar-t-md {
    margin-top: 32px;
  }
  .mar-t-lg {
    margin-top: 40px;
  }
  .mar-t-xl {
    margin-top: 48px;
  }

  /* RIGHT */
  .pad-r-xs {
    padding-right: 16px;
  }
  .pad-r-sm {
    padding-right: 24px;
  }
  .pad-r-md {
    padding-right: 32px;
  }
  .pad-r-lg {
    padding-right: 40px;
  }
  .pad-r-xl {
    padding-right: 48px;
  }

  .mar-r-xs {
    margin-right: 16px;
  }
  .mar-r-sm {
    margin-right: 24px;
  }
  .mar-r-md {
    margin-right: 32px;
  }
  .mar-r-lg {
    margin-right: 40px;
  }
  .mar-r-xl {
    margin-right: 48px;
  }

  /* BOTTOM */
  .pad-b-xs {
    padding-bottom: 16px;
  }
  .pad-b-sm {
    padding-bottom: 24px;
  }
  .pad-b-md {
    padding-bottom: 32px;
  }
  .pad-b-lg {
    padding-bottom: 40px;
  }
  .pad-b-xl {
    padding-bottom: 48px;
  }

  .mar-b-xs {
    margin-bottom: 16px;
  }
  .mar-b-sm {
    margin-bottom: 24px;
  }
  .mar-b-md {
    margin-bottom: 32px;
  }
  .mar-b-lg {
    margin-bottom: 40px;
  }
  .mar-b-xl {
    margin-bottom: 48px;
  }
}
@media (min-width: 80rem) {
  /* LEFT */
  .pad-l-xs {
    padding-left: 24px;
  }
  .pad-l-sm {
    padding-left: 32px;
  }
  .pad-l-md {
    padding-left: 40px;
  }
  .pad-l-lg {
    padding-left: 48px;
  }
  .pad-l-xl {
    padding-left: 56px;
  }

  .mar-l-xs {
    margin-left: 24px;
  }
  .mar-l-sm {
    margin-left: 32px;
  }
  .mar-l-md {
    margin-left: 40px;
  }
  .mar-l-lg {
    margin-left: 48px;
  }
  .mar-l-xl {
    margin-left: 56px;
  }

  /* TOP */
  .pad-t-xs {
    padding-top: 24px;
  }
  .pad-t-sm {
    padding-top: 32px;
  }
  .pad-t-md {
    padding-top: 40px;
  }
  .pad-t-lg {
    padding-top: 48px;
  }
  .pad-t-xl {
    padding-top: 56px;
  }

  .mar-t-xs {
    margin-top: 24px;
  }
  .mar-t-sm {
    margin-top: 32px;
  }
  .mar-t-md {
    margin-top: 40px;
  }
  .mar-t-lg {
    margin-top: 48px;
  }
  .mar-t-xl {
    margin-top: 56px;
  }

  /* RIGHT */
  .pad-r-xs {
    padding-right: 24px;
  }
  .pad-r-sm {
    padding-right: 32px;
  }
  .pad-r-md {
    padding-right: 40px;
  }
  .pad-r-lg {
    padding-right: 48px;
  }
  .pad-r-xl {
    padding-right: 56px;
  }

  .marg-r-xs {
    margin-right: 24px;
  }
  .marg-r-sm {
    margin-right: 32px;
  }
  .marg-r-md {
    margin-right: 40px;
  }
  .marg-r-lg {
    margin-right: 48px;
  }
  .marg-r-xl {
    margin-right: 56px;
  }

  /* BOTTOM */
  .pad-b-xs {
    padding-bottom: 24px;
  }
  .pad-b-sm {
    padding-bottom: 32px;
  }
  .pad-b-md {
    padding-bottom: 40px;
  }
  .pad-b-lg {
    padding-bottom: 48px;
  }
  .pad-b-xl {
    padding-bottom: 56px;
  }

  .mar-b-xs {
    margin-bottom: 24px;
  }
  .mar-b-sm {
    margin-bottom: 32px;
  }
  .mar-b-md {
    margin-bottom: 40px;
  }
  .mar-b-lg {
    margin-bottom: 48px;
  }
  .mar-b-xl {
    margin-bottom: 56px;
  }
}
@media (min-width: 128rem) {
  /* LEFT */
  .pad-l-xs {
    padding-left: 48px;
  }
  .pad-l-sm {
    padding-left: 48px;
  }
  .pad-l-md {
    padding-left: 48px;
  }
  .pad-l-lg {
    padding-left: 56px;
  }
  .pad-l-xl {
    padding-left: 48px;
  }

  .mar-l-xs {
    margin-left: 48px;
  }
  .mar-l-sm {
    margin-left: 48px;
  }
  .mar-l-md {
    margin-left: 48px;
  }
  .mar-l-lg {
    margin-left: 56px;
  }
  .mar-l-xl {
    margin-left: 48px;
  }

  /* TOP */
  .pad-t-xs {
    padding-top: 48px;
  }
  .pad-t-sm {
    padding-top: 48px;
  }
  .pad-t-md {
    padding-top: 48px;
  }
  .pad-t-lg {
    padding-top: 56px;
  }
  .pad-t-xl {
    padding-top: 48px;
  }

  .mar-t-xs {
    margin-top: 48px;
  }
  .mar-t-sm {
    margin-top: 48px;
  }
  .mar-t-md {
    margin-top: 48px;
  }
  .mar-t-lg {
    margin-top: 56px;
  }
  .mar-t-xl {
    margin-top: 48px;
  }

  /* RIGHT */
  .pad-r-xs {
    padding-right: 48px;
  }
  .pad-r-sm {
    padding-right: 48px;
  }
  .pad-r-md {
    padding-right: 48px;
  }
  .pad-r-lg {
    padding-right: 56px;
  }
  .pad-r-xl {
    padding-right: 48px;
  }

  .mar-r-xs {
    margin-right: 48px;
  }
  .mar-r-sm {
    margin-right: 48px;
  }
  .mar-r-md {
    margin-right: 48px;
  }
  .mar-r-lg {
    margin-right: 56px;
  }
  .mar-r-xl {
    margin-right: 48px;
  }

  /* BOTTOM */
  .pad-b-xs {
    padding-bottom: 48px;
  }
  .pad-b-sm {
    padding-bottom: 48px;
  }
  .pad-b-md {
    padding-bottom: 48px;
  }
  .pad-b-lg {
    padding-bottom: 56px;
  }
  .pad-b-xl {
    padding-bottom: 48px;
  }

  .mar-b-xs {
    margin-bottom: 48px;
  }
  .mar-b-sm {
    margin-bottom: 48px;
  }
  .mar-b-md {
    margin-bottom: 48px;
  }
  .mar-b-lg {
    margin-bottom: 56px;
  }
  .mar-b-xl {
    margin-bottom: 48px;
  }
}
