{{#xy-section padding="none md"}}
  {{#xy-part}}
    {{#xy-layout horizontal=true center=true justified=true}}
      <h1>xy-components <small>(v{{config.APP.version}})</small></h1>
      <nav>
        {{#link-to "comps.xy-icon"}}Components{{/link-to}}
      </nav>
    {{/xy-layout}}
    Ember components built with <a href="https://github.com/salsify/ember-css-modules">Ember-CSS-Modules</a>!
  {{/xy-part}}

  {{outlet}}
{{/xy-section}}
