{{#xy-part}}
  {{#xy-part size="md"}}
    <h2>xy-grid-item</h2>
    <p>
      <code>xy-grid-item</code> allows you to easily represent columns in a responsive
      grid. You can pass size attributes for each media size to dynamically adjust your
      layout.
    </p>
  {{/xy-part}}

  {{#xy-part}}
    <h3>Demo</h3>
    <hr>
    <p>Coming soon...</p>
  {{/xy-part}}

  {{#xy-part}}
    <h3>Usage</h3>
    <hr>
    <p>Coming soon...</p>
  {{/xy-part}}
{{/xy-part}}
