@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 100;
  src: url(fonts/proximanova/proximanova-thin.eot?#iefix) format("embedded-opentype"), url(fonts/proximanova/proximanova-thin.woff2) format("woff2"), url(fonts/proximanova/proximanova-thin.woff) format("woff"), url(fonts/proximanova/proximanova-thin.ttf) format("truetype"), url(fonts/proximanova/proximanova-thin.svg#ProximaNova) format("svg");
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 300;
  src: url(fonts/proximanova/proximanova-light.eot?#iefix) format("embedded-opentype"), url(fonts/proximanova/proximanova-light.woff2) format("woff2"), url(fonts/proximanova/proximanova-light.woff) format("woff"), url(fonts/proximanova/proximanova-light.ttf) format("truetype"), url(fonts/proximanova/proximanova-light.svg#ProximaNova) format("svg");
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/proximanova/proximanova-regular.eot?#iefix) format("embedded-opentype"), url(fonts/proximanova/proximanova-regular.woff2) format("woff2"), url(fonts/proximanova/proximanova-regular.woff) format("woff"), url(fonts/proximanova/proximanova-regular.ttf) format("truetype"), url(fonts/proximanova/proximanova-regular.svg#ProximaNova) format("svg");
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 500;
  src: url(fonts/proximanova/proximanova-semibold.eot?#iefix) format("embedded-opentype"), url(fonts/proximanova/proximanova-semibold.woff2) format("woff2"), url(fonts/proximanova/proximanova-semibold.woff) format("woff"), url(fonts/proximanova/proximanova-semibold.ttf) format("truetype"), url(fonts/proximanova/proximanova-semibold.svg#ProximaNova) format("svg");
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 600;
  src: url(fonts/proximanova/proximanova-bold.eot?#iefix) format("embedded-opentype"), url(fonts/proximanova/proximanova-bold.woff2) format("woff2"), url(fonts/proximanova/proximanova-bold.woff) format("woff"), url(fonts/proximanova/proximanova-bold.ttf) format("truetype"), url(fonts/proximanova/proximanova-bold.svg#ProximaNova) format("svg");
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: 0 0;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: ProximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 400;
  color: #232222;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

@media (min-width:64rem) {
  body {
    line-height: 1.375;
  }
}

p {
  margin: 0 0 1rem;
}

p+h1,
p+h2,
p+h3,
p+h4,
p+h5,
p+h6 {
  margin-top: 2rem;
}

p:last-child {
  margin-bottom: 0;
}

small {
  font-size: .875rem;
  line-height: 1;
}

strong {
  font-weight: 600;
}

address {
  font-style: normal;
}

code {
  background-color: #f8f8f8;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: ProximaNova, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-weight: 400;
  font-size: 30%;
  line-height: 1;
}

.h1+ol,
.h1+p,
.h1+ul,
.h2+ol,
.h2+p,
.h2+ul,
.h3+ol,
.h3+p,
.h3+ul,
.h4+ol,
.h4+p,
.h4+ul,
.h5+ol,
.h5+p,
.h5+ul,
.h6+ol,
.h6+p,
.h6+ul,
h1+ol,
h1+p,
h1+ul,
h2+ol,
h2+p,
h2+ul,
h3+ol,
h3+p,
h3+ul,
h4+ol,
h4+p,
h4+ul,
h5+ol,
h5+p,
h5+ul,
h6+ol,
h6+p,
h6+ul {
  margin-top: .5rem;
}

@media (min-width:48rem) {
  .h1+ol,
  .h1+p,
  .h1+ul,
  .h2+ol,
  .h2+p,
  .h2+ul,
  .h3+ol,
  .h3+p,
  .h3+ul,
  .h4+ol,
  .h4+p,
  .h4+ul,
  .h5+ol,
  .h5+p,
  .h5+ul,
  .h6+ol,
  .h6+p,
  .h6+ul,
  h1+ol,
  h1+p,
  h1+ul,
  h2+ol,
  h2+p,
  h2+ul,
  h3+ol,
  h3+p,
  h3+ul,
  h4+ol,
  h4+p,
  h4+ul,
  h5+ol,
  h5+p,
  h5+ul,
  h6+ol,
  h6+p,
  h6+ul {
    margin-top: 1rem;
  }
}

@media (min-width:64rem) {
  .h1+ol,
  .h1+p,
  .h1+ul,
  .h2+ol,
  .h2+p,
  .h2+ul,
  .h3+ol,
  .h3+p,
  .h3+ul,
  .h4+ol,
  .h4+p,
  .h4+ul,
  .h5+ol,
  .h5+p,
  .h5+ul,
  .h6+ol,
  .h6+p,
  .h6+ul,
  h1+ol,
  h1+p,
  h1+ul,
  h2+ol,
  h2+p,
  h2+ul,
  h3+ol,
  h3+p,
  h3+ul,
  h4+ol,
  h4+p,
  h4+ul,
  h5+ol,
  h5+p,
  h5+ul,
  h6+ol,
  h6+p,
  h6+ul {
      margin-top: 1.5rem;
  }
}

.h1+ol,
.h1+p,
.h1+ul,
.h2+ol,
.h2+p,
.h2+ul,
.h3+ol,
.h3+p,
.h3+ul,
h1+ol,
h1+p,
h1+ul,
h2+ol,
h2+p,
h2+ul,
h3+ol,
h3+p,
h3+ul {
  margin-top: .5rem;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  font-weight: 400;
}

.h4+ol,
.h4+p,
.h4+ul,
.h5+ol,
.h5+p,
.h5+ul,
.h6+ol,
.h6+p,
.h6+ul,
h4+ol,
h4+p,
h4+ul,
h5+ol,
h5+p,
h5+ul,
h6+ol,
h6+p,
h6+ul {
  margin-top: .5rem;
}

.h1,
h1 {
  font-size: 2rem;
  line-height: 1.25;
}

@media (min-width:64rem) {
  .h1,
  h1 {
    font-size: 2.5rem;
    line-height: 1.125;
  }
}

@media (min-width:80rem) {
  .h1,
  h1 {
      font-size: 3rem;
      line-height: 1.05;
  }
}

.h2,
h2 {
  font-size: 1.625rem;
  line-height: 1.15385;
}

@media (min-width:64rem) {
  .h2,
  h2 {
    font-size: 2rem;
    line-height: 1.25;
  }
}

@media (min-width:80rem) {
  .h2,
  h2 {
    font-size: 2.25rem;
  }
}

.h3,
h3 {
  font-size: 1.375rem;
  line-height: 1.13636;
}

@media (min-width:64rem) {
  .h3,
  h3 {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

@media (min-width:80rem) {
  .h3,
  h3 {
    font-size: 1.75rem;
  }
}

.h4,
h4 {
  font-size: 1.125rem;
  line-height: 1.11111;
}

@media (min-width:64rem) {
  .h4,
  h4 {
    line-height: 1.22222;
  }
}

.h5,
h5 {
  font-size: 1rem;
}

.h6,
h6 {
  font-size: .875rem;
}

a {
  color: #006eff;
}

a:hover {
  color: #4696ff;
}

:global(.sidebar) {
  width: 210px;
}

:global(.fixed) {
  position: fixed;
}

/* HIDE / SHOW classes */

/* xs */
:global(.xs-hide),
:global(.xs-hide-box) {
  display: none !important;
}

:global(.xs-show) {
  display: block !important;
}
:global(.xs-show-box) {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: box !important;
}

/* sm */
:global(.sm-hide),
:global(.sm-hide-box),
:global(.sm-hide-inline) {
  display: none !important;
}

:global(.sm-show) {
  display: block !important;
}
:global(.sm-show-box) {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: box !important;
}

/* md */
:global(.md-hide),
:global(.md-hide-box) {
  display: none !important;
}

:global(.md-show) {
  display: block !important;
}
:global(.md-show-box) {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: box !important;
}

/* lg */
:global(.lg-hide),
:global(.lg-hide-box) {
  display: none !important;
}

:global(.lg-show) {
  display: block !important;
}
:global(.lg-show-box) {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: box !important;
}

/* xl */
:global(.xl-hide),
:global(.xl-hide-box) {
  display: none !important;
}

:global(.xl-show) {
  display: block !important;
}
:global(.xl-show-box) {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: box !important;
}

@media (min-width: 30rem) {
  :global(.xs-hide) {
    display: block;
  }
  :global(.xs-hide-box) {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: box !important;
  }

  :global(.xs-show),
  :global(.xs-show-box) {
    display: none !important;
  }
}

@media (min-width: 48rem) {
  :global(.sm-hide) {
    display: block;
  }
  :global(.sm-hide-box) {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: box !important;
  }
  :global(.sm-hide-inline) {
    display: inline-block !important;
  }

  :global(.sm-show),
  :global(.sm-show-box) {
    display: none !important;
  }
}

@media (min-width: 64rem) {
  :global(.md-hide) {
    display: block;
  }
  :global(.md-hide-box) {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: box !important;
  }

  :global(.md-show),
  :global(.md-show-box) {
    display: none !important;
  }
}

@media (min-width: 80rem) {
  :global(.lg-hide) {
    display: block;
  }
  :global(.lg-hide-box) {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: box !important;
  }

  :global(.lg-show),
  :global(.lg-show-box) {
    display: none !important;
  }
}

@media (min-width: 128rem) {
  :global(.xl-hide) {
    display: block;
  }
  :global(.xl-hide-box) {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: box !important;
  }

  :global(.xl-show),
  :global(.xl-show-box) {
    display: none !important;
  }
}
