{{#xy-part size="md"}}
  <h2>XY-Section</h2>
  <p>
    Xy-section is a structural component used to add padding to the enclosed section.
  </p>
{{/xy-part}}

{{#xy-part}}
  <h3>Demo</h3>
  <hr>

{{/xy-part}}

{{#xy-part}}
  <h3>Usage</h3>
  <hr>

{{/xy-part}}
