.grid__item {
  display: inline-block;
  width: 100%;
  padding-left: .25rem;
  vertical-align: top;
  font-size: 1rem;
}

.grid__item--vm {
  vertical-align: middle;
}

.grid__item--hive {
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.grid__item--hive-alternate:nth-child(2n+2) {
  background-color: #00e2dc;
}

@media (min-width:48rem) {
  .grid__item {
    padding-left: .5rem;
    font-size: 1rem;
  }
}

@media (min-width:64rem) {
  .grid__item {
    padding-left: 1rem;
  }
}

.one-whole {
  width: 100%;
}

.one-half {
  width: 50%;
}

.one-third {
  width: 33.333%;
}

.two-thirds {
  width: 66.666%;
}

.one-fourth,
.one-quarter {
  width: 25%;
}

.three-fourths,
.three-quarters {
  width: 75%;
}

.one-fifth {
  width: 20%;
}

.two-fifths {
  width: 40%;
}

.three-fifths {
  width: 60%;
}

.four-fifths {
  width: 80%;
}

.one-sixth {
  width: 16.666%;
}

.five-sixths {
  width: 83.333%;
}

.one-seventh {
  width: 14.2857143%;
}

.two-sevenths {
  width: 28.5714286%;
}

.three-sevenths {
  width: 42.8571429%;
}

.four-sevenths {
  width: 57.1428571%;
}

.five-sevenths {
  width: 71.4285714%;
}

.six-sevenths {
  width: 85.7142857%;
}

.one-eighth {
  width: 12.5%;
}

.three-eighths {
  width: 37.5%;
}

.five-eighths {
  width: 62.5%;
}

.seven-eighths {
  width: 87.5%;
}

.one-ninth {
  width: 11.111%;
}

.two-ninths {
  width: 22.222%;
}

.three-ninths {
  width: 33.333%;
}

.four-ninths {
  width: 44.444%;
}

.five-ninths {
  width: 55.555%;
}

.six-ninths {
  width: 66.666%;
}

.seven-ninths {
  width: 77.777%;
}

.eight-ninths {
  width: 88.888%;
}

.one-tenth {
  width: 10%;
}

.three-tenths {
  width: 30%;
}

.seven-tenths {
  width: 70%;
}

.nine-tenths {
  width: 90%;
}

.one-eleventh {
  width: 9.09%;
}

.two-elevenths {
  width: 18.181%;
}

.three-elevenths {
  width: 27.272%;
}

.four-elevenths {
  width: 36.363%;
}

.five-elevenths {
  width: 45.454%;
}

.six-elevenths {
  width: 54.545%;
}

.seven-elevenths {
  width: 63.636%;
}

.eight-elevenths {
  width: 72.727%;
}

.nine-elevenths {
  width: 81.818%;
}

.ten-elevenths {
  width: 90.909%;
}

.one-twelfth {
  width: 8.333%;
}

.five-twelfths {
  width: 41.666%;
}

.seven-twelfths {
  width: 58.333%;
}

.eleven-twelfths {
  width: 91.666%;
}

@media (min-width:30rem) {
  .xs-one-whole {
    width: 100%;
  }
  .xs-one-half {
    width: 50%;
  }
  .xs-one-third {
    width: 33.333%;
  }
  .xs-two-thirds {
    width: 66.666%;
  }
  .xs-one-fourth,
  .xs-one-quarter {
    width: 25%;
  }
  .xs-three-fourths,
  .xs-three-quarters {
    width: 75%;
  }
  .xs-one-fifth {
    width: 20%;
  }
  .xs-two-fifths {
    width: 40%;
  }
  .xs-three-fifths {
    width: 60%;
  }
  .xs-four-fifths {
    width: 80%;
  }
  .xs-one-sixth {
    width: 16.666%;
  }
  .xs-five-sixths {
    width: 83.333%;
  }
  .xs-one-seventh {
    width: 14.2857143%;
  }
  .xs-two-sevenths {
    width: 28.5714286%;
  }
  .xs-three-sevenths {
    width: 42.8571429%;
  }
  .xs-four-sevenths {
    width: 57.1428571%;
  }
  .xs-five-sevenths {
    width: 71.4285714%;
  }
  .xs-six-sevenths {
    width: 85.7142857%;
  }
  .xs-one-eighth {
    width: 12.5%;
  }
  .xs-three-eighths {
    width: 37.5%;
  }
  .xs-five-eighths {
    width: 62.5%;
  }
  .xs-seven-eighths {
    width: 87.5%;
  }
  .xs-one-ninth {
    width: 11.111%;
  }
  .xs-two-ninths {
    width: 22.222%;
  }
  .xs-three-ninths {
    width: 33.333%;
  }
  .xs-four-ninths {
    width: 44.444%;
  }
  .xs-five-ninths {
    width: 55.555%;
  }
  .xs-six-ninths {
    width: 66.666%;
  }
  .xs-seven-ninths {
    width: 77.777%;
  }
  .xs-eight-ninths {
    width: 88.888%;
  }
  .xs-one-tenth {
    width: 10%;
  }
  .xs-three-tenths {
    width: 30%;
  }
  .xs-seven-tenths {
    width: 70%;
  }
  .xs-nine-tenths {
    width: 90%;
  }
  .xs-one-eleventh {
    width: 9.09%;
  }
  .xs-two-elevenths {
    width: 18.181%;
  }
  .xs-three-elevenths {
    width: 27.272%;
  }
  .xs-four-elevenths {
    width: 36.363%;
  }
  .xs-five-elevenths {
    width: 45.454%;
  }
  .xs-six-elevenths {
    width: 54.545%;
  }
  .xs-seven-elevenths {
    width: 63.636%;
  }
  .xs-eight-elevenths {
    width: 72.727%;
  }
  .xs-nine-elevenths {
    width: 81.818%;
  }
  .xs-ten-elevenths {
    width: 90.909%;
  }
  .xs-one-twelfth {
    width: 8.333%;
  }
  .xs-five-twelfths {
    width: 41.666%;
  }
  .xs-seven-twelfths {
    width: 58.333%;
  }
  .xs-eleven-twelfths {
    width: 91.666%;
  }
}

@media (min-width:48rem) {
  .sm-one-whole {
    width: 100%;
  }
  .sm-one-half {
    width: 50%;
  }
  .sm-one-third {
    width: 33.333%;
  }
  .sm-two-thirds {
    width: 66.666%;
  }
  .sm-one-fourth,
  .sm-one-quarter {
    width: 25%;
  }
  .sm-three-fourths,
  .sm-three-quarters {
    width: 75%;
  }
  .sm-one-fifth {
    width: 20%;
  }
  .sm-two-fifths {
    width: 40%;
  }
  .sm-three-fifths {
    width: 60%;
  }
  .sm-four-fifths {
    width: 80%;
  }
  .sm-one-sixth {
    width: 16.666%;
  }
  .sm-five-sixths {
    width: 83.333%;
  }
  .sm-one-seventh {
    width: 14.2857143%;
  }
  .sm-two-sevenths {
    width: 28.5714286%;
  }
  .sm-three-sevenths {
    width: 42.8571429%;
  }
  .sm-four-sevenths {
    width: 57.1428571%;
  }
  .sm-five-sevenths {
    width: 71.4285714%;
  }
  .sm-six-sevenths {
    width: 85.7142857%;
  }
  .sm-one-eighth {
    width: 12.5%;
  }
  .sm-three-eighths {
    width: 37.5%;
  }
  .sm-five-eighths {
    width: 62.5%;
  }
  .sm-seven-eighths {
    width: 87.5%;
  }
  .sm-one-ninth {
    width: 11.111%;
  }
  .sm-two-ninths {
    width: 22.222%;
  }
  .sm-three-ninths {
    width: 33.333%;
  }
  .sm-four-ninths {
    width: 44.444%;
  }
  .sm-five-ninths {
    width: 55.555%;
  }
  .sm-six-ninths {
    width: 66.666%;
  }
  .sm-seven-ninths {
    width: 77.777%;
  }
  .sm-eight-ninths {
    width: 88.888%;
  }
  .sm-one-tenth {
    width: 10%;
  }
  .sm-three-tenths {
    width: 30%;
  }
  .sm-seven-tenths {
    width: 70%;
  }
  .sm-nine-tenths {
    width: 90%;
  }
  .sm-one-eleventh {
    width: 9.09%;
  }
  .sm-two-elevenths {
    width: 18.181%;
  }
  .sm-three-elevenths {
    width: 27.272%;
  }
  .sm-four-elevenths {
    width: 36.363%;
  }
  .sm-five-elevenths {
    width: 45.454%;
  }
  .sm-six-elevenths {
    width: 54.545%;
  }
  .sm-seven-elevenths {
    width: 63.636%;
  }
  .sm-eight-elevenths {
    width: 72.727%;
  }
  .sm-nine-elevenths {
    width: 81.818%;
  }
  .sm-ten-elevenths {
    width: 90.909%;
  }
  .sm-one-twelfth {
    width: 8.333%;
  }
  .sm-five-twelfths {
    width: 41.666%;
  }
  .sm-seven-twelfths {
    width: 58.333%;
  }
  .sm-eleven-twelfths {
    width: 91.666%;
  }
}

@media (min-width:64rem) {
  .md-one-whole {
    width: 100%;
  }
  .md-one-half {
    width: 50%;
  }
  .md-one-third {
    width: 33.333%;
  }
  .md-two-thirds {
    width: 66.666%;
  }
  .md-one-fourth,
  .md-one-quarter {
    width: 25%;
  }
  .md-three-fourths,
  .md-three-quarters {
    width: 75%;
  }
  .md-one-fifth {
    width: 20%;
  }
  .md-two-fifths {
    width: 40%;
  }
  .md-three-fifths {
    width: 60%;
  }
  .md-four-fifths {
    width: 80%;
  }
  .md-one-sixth {
    width: 16.666%;
  }
  .md-five-sixths {
    width: 83.333%;
  }
  .md-one-seventh {
    width: 14.2857143%;
  }
  .md-two-sevenths {
    width: 28.5714286%;
  }
  .md-three-sevenths {
    width: 42.8571429%;
  }
  .md-four-sevenths {
    width: 57.1428571%;
  }
  .md-five-sevenths {
    width: 71.4285714%;
  }
  .md-six-sevenths {
    width: 85.7142857%;
  }
  .md-one-eighth {
    width: 12.5%;
  }
  .md-three-eighths {
    width: 37.5%;
  }
  .md-five-eighths {
    width: 62.5%;
  }
  .md-seven-eighths {
    width: 87.5%;
  }
  .md-one-ninth {
    width: 11.111%;
  }
  .md-two-ninths {
    width: 22.222%;
  }
  .md-three-ninths {
    width: 33.333%;
  }
  .md-four-ninths {
    width: 44.444%;
  }
  .md-five-ninths {
    width: 55.555%;
  }
  .md-six-ninths {
    width: 66.666%;
  }
  .md-seven-ninths {
    width: 77.777%;
  }
  .md-eight-ninths {
    width: 88.888%;
  }
  .md-one-tenth {
    width: 10%;
  }
  .md-three-tenths {
    width: 30%;
  }
  .md-seven-tenths {
    width: 70%;
  }
  .md-nine-tenths {
    width: 90%;
  }
  .md-one-eleventh {
    width: 9.09%;
  }
  .md-two-elevenths {
    width: 18.181%;
  }
  .md-three-elevenths {
    width: 27.272%;
  }
  .md-four-elevenths {
    width: 36.363%;
  }
  .md-five-elevenths {
    width: 45.454%;
  }
  .md-six-elevenths {
    width: 54.545%;
  }
  .md-seven-elevenths {
    width: 63.636%;
  }
  .md-eight-elevenths {
    width: 72.727%;
  }
  .md-nine-elevenths {
    width: 81.818%;
  }
  .md-ten-elevenths {
    width: 90.909%;
  }
  .md-one-twelfth {
    width: 8.333%;
  }
  .md-five-twelfths {
    width: 41.666%;
  }
  .md-seven-twelfths {
    width: 58.333%;
  }
  .md-eleven-twelfths {
    width: 91.666%;
  }
}

@media (min-width:80rem) {
  .lg-one-whole {
    width: 100%;
  }
  .lg-one-half {
    width: 50%;
  }
  .lg-one-third {
    width: 33.333%;
  }
  .lg-two-thirds {
    width: 66.666%;
  }
  .lg-one-fourth,
  .lg-one-quarter {
    width: 25%;
  }
  .lg-three-fourths,
  .lg-three-quarters {
    width: 75%;
  }
  .lg-one-fifth {
    width: 20%;
  }
  .lg-two-fifths {
    width: 40%;
  }
  .lg-three-fifths {
    width: 60%;
  }
  .lg-four-fifths {
    width: 80%;
  }
  .lg-one-sixth {
    width: 16.666%;
  }
  .lg-five-sixths {
    width: 83.333%;
  }
  .lg-one-seventh {
    width: 14.2857143%;
  }
  .lg-two-sevenths {
    width: 28.5714286%;
  }
  .lg-three-sevenths {
    width: 42.8571429%;
  }
  .lg-four-sevenths {
    width: 57.1428571%;
  }
  .lg-five-sevenths {
    width: 71.4285714%;
  }
  .lg-six-sevenths {
    width: 85.7142857%;
  }
  .lg-one-eighth {
    width: 12.5%;
  }
  .lg-three-eighths {
    width: 37.5%;
  }
  .lg-five-eighths {
    width: 62.5%;
  }
  .lg-seven-eighths {
    width: 87.5%;
  }
  .lg-one-ninth {
    width: 11.111%;
  }
  .lg-two-ninths {
    width: 22.222%;
  }
  .lg-three-ninths {
    width: 33.333%;
  }
  .lg-four-ninths {
    width: 44.444%;
  }
  .lg-five-ninths {
    width: 55.555%;
  }
  .lg-six-ninths {
    width: 66.666%;
  }
  .lg-seven-ninths {
    width: 77.777%;
  }
  .lg-eight-ninths {
    width: 88.888%;
  }
  .lg-one-tenth {
    width: 10%;
  }
  .lg-three-tenths {
    width: 30%;
  }
  .lg-seven-tenths {
    width: 70%;
  }
  .lg-nine-tenths {
    width: 90%;
  }
  .lg-one-eleventh {
    width: 9.09%;
  }
  .lg-two-elevenths {
    width: 18.181%;
  }
  .lg-three-elevenths {
    width: 27.272%;
  }
  .lg-four-elevenths {
    width: 36.363%;
  }
  .lg-five-elevenths {
    width: 45.454%;
  }
  .lg-six-elevenths {
    width: 54.545%;
  }
  .lg-seven-elevenths {
    width: 63.636%;
  }
  .lg-eight-elevenths {
    width: 72.727%;
  }
  .lg-nine-elevenths {
    width: 81.818%;
  }
  .lg-ten-elevenths {
    width: 90.909%;
  }
  .lg-one-twelfth {
    width: 8.333%;
  }
  .lg-five-twelfths {
    width: 41.666%;
  }
  .lg-seven-twelfths {
    width: 58.333%;
  }
  .lg-eleven-twelfths {
    width: 91.666%;
  }
}

@media (min-width:128rem) {
  .xl-one-whole {
    width: 100%;
  }
  .xl-one-half {
    width: 50%;
  }
  .xl-one-third {
    width: 33.333%;
  }
  .xl-two-thirds {
    width: 66.666%;
  }
  .xl-one-fourth,
  .xl-one-quarter {
    width: 25%;
  }
  .xl-three-fourths,
  .xl-three-quarters {
    width: 75%;
  }
  .xl-one-fifth {
    width: 20%;
  }
  .xl-two-fifths {
    width: 40%;
  }
  .xl-three-fifths {
    width: 60%;
  }
  .xl-four-fifths {
    width: 80%;
  }
  .xl-one-sixth {
    width: 16.666%;
  }
  .xl-five-sixths {
    width: 83.333%;
  }
  .xl-one-seventh {
    width: 14.2857143%;
  }
  .xl-two-sevenths {
    width: 28.5714286%;
  }
  .xl-three-sevenths {
    width: 42.8571429%;
  }
  .xl-four-sevenths {
    width: 57.1428571%;
  }
  .xl-five-sevenths {
    width: 71.4285714%;
  }
  .xl-six-sevenths {
    width: 85.7142857%;
  }
  .xl-one-eighth {
    width: 12.5%;
  }
  .xl-three-eighths {
    width: 37.5%;
  }
  .xl-five-eighths {
    width: 62.5%;
  }
  .xl-seven-eighths {
    width: 87.5%;
  }
  .xl-one-ninth {
    width: 11.111%;
  }
  .xl-two-ninths {
    width: 22.222%;
  }
  .xl-three-ninths {
    width: 33.333%;
  }
  .xl-four-ninths {
    width: 44.444%;
  }
  .xl-five-ninths {
    width: 55.555%;
  }
  .xl-six-ninths {
    width: 66.666%;
  }
  .xl-seven-ninths {
    width: 77.777%;
  }
  .xl-eight-ninths {
    width: 88.888%;
  }
  .xl-one-tenth {
    width: 10%;
  }
  .xl-three-tenths {
    width: 30%;
  }
  .xl-seven-tenths {
    width: 70%;
  }
  .xl-nine-tenths {
    width: 90%;
  }
  .xl-one-eleventh {
    width: 9.09%;
  }
  .xl-two-elevenths {
    width: 18.181%;
  }
  .xl-three-elevenths {
    width: 27.272%;
  }
  .xl-four-elevenths {
    width: 36.363%;
  }
  .xl-five-elevenths {
    width: 45.454%;
  }
  .xl-six-elevenths {
    width: 54.545%;
  }
  .xl-seven-elevenths {
    width: 63.636%;
  }
  .xl-eight-elevenths {
    width: 72.727%;
  }
  .xl-nine-elevenths {
    width: 81.818%;
  }
  .xl-ten-elevenths {
    width: 90.909%;
  }
  .xl-one-twelfth {
    width: 8.333%;
  }
  .xl-five-twelfths {
    width: 41.666%;
  }
  .xl-seven-twelfths {
    width: 58.333%;
  }
  .xl-eleven-twelfths {
    width: 91.666%;
  }
}
