{{#xy-part size="md"}}
  <h2>xy-part</h2>
  <p>
    <code>xy-part</code> is a structural component used to add vertical padding to the enclosed part.
  </p>
{{/xy-part}}

{{#xy-part}}
  <h3>Demo</h3>
  <hr>
  <p>Coming soon...</p>
{{/xy-part}}

{{#xy-part}}
  <h3>Usage</h3>
  <hr>

  <strong>Size</strong> <em>{String}</em>
  <p>
    Accepts: <code>['sm', 'md', 'lg', 'xl']</code>
  </p>
  <p>
    Allows you to specify a pre-determined size that adjusts padding with media-queries.
  </p>

  <strong>Code</strong> <em>{Boolean}</em>
  <p>
    Default: <code>false</code>
  </p>
  <p>
    Adds styles for code part.
  </p>

  <strong>Clickable</strong> <em>{Boolean}</em>
  <p>
    Default: <code>fasle</code>
  </p>
  <p>
    Adds styles to hover state including a pointer to show the part is clickable.
  </p>
{{/xy-part}}
