{{#xy-part size="md"}}
  <h2>xy-grid</h2>
  <p>
    <code>xy-grid</code> is a grid component used to wrap <code>xy-grid-item</code>
    components for responsive column-based layouts.
  </p>

  {{#xy-part}}
    <h3>Demo</h3>
    <hr>
    <p>Coming soon...</p>
  {{/xy-part}}

  {{#xy-part}}
    <h3>Usage</h3>
    <hr>
    <p>Coming soon...</p>
  {{/xy-part}}
{{/xy-part}}
