{{#xy-part size="md"}}
  <h2>xy-drawer</h2>
  <p>
    <code>xy-drawer</code> is a sidebar component. It can be configured to collapse
    or remain locked open.
  </p>
{{/xy-part}}

{{#xy-part}}
  <h3>Demo</h3>
  <hr>
  <p>Coming soon...</p>
{{/xy-part}}

{{#xy-part}}
  <h3>Usage</h3>
  <hr>
  <p>Coming soon...</p>
{{/xy-part}}
