{{#xy-part size="md"}}
  <h2>XY-Column</h2>
  <p>
    Xy-column is a flexbox column.
  </p>
{{/xy-part}}

{{#xy-part}}
  <h3>Demo</h3>
  <hr>

{{/xy-part}}

{{#xy-part}}
  <h3>Usage</h3>
  <hr>

{{/xy-part}}
