:root {
  --gutter-width: 1rem;
  --outer-margin: 2rem;
  --gutter-compensation: calc((var(--gutter-width) * 0.5) * -1);
  --half-gutter-width: calc((var(--gutter-width) * 0.5));
  --xs-min: 30;
  --sm-min: 48;
  --md-min: 64;
  --lg-min: 80;
  --xl-min: 128;
  --screen-xs-min: var(--xs-min)rem;
  --screen-sm-min: var(--sm-min)rem;
  --screen-md-min: var(--md-min)rem;
  --screen-lg-min: var(--lg-min)rem;
  --screen-xl-min: var(--xl-min)rem;
}

@custom-media --xs-viewport only screen and (min-width: --var(--screen-xs-min));
@custom-media --sm-viewport only screen and (min-width: --var(--screen-sm-min));
@custom-media --md-viewport only screen and (min-width: --var(--screen-md-min));
@custom-media --lg-viewport only screen and (min-width: --var(--screen-lg-min));
@custom-media --xl-viewport only screen and (min-width: --var(--screen-xl-min));

.grid {
  margin-left: -.25rem;
  font-size: 0;
}

.grid--flex {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.grid--flex .grid__item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 auto;
  -moz-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  height: 100%;
}

.grid--flush {
  margin-left: 0;
}

.grid--flush > * {
  padding-left: 0;
}

@media (--sm-viewport) {
  .grid {
    margin-left: -.5rem;
  }
  .grid--compact {
    margin-left: -.25rem;
  }
  .grid--compact .grid__item {
    padding-left: .25rem;
  }
  .grid--flush {
    margin-left: 0;
  }
  .grid--flush > * {
    padding-left: 0;
  }
}

@media (--md-viewport) {
  .grid {
    margin-left: -1rem;
  }
  .grid--compact {
    margin-left: -.5rem;
  }
  .grid--compact .grid__item {
    padding-left: .5rem;
  }
  .grid--flush {
    margin-left: 0;
  }
  .grid--flush > * {
    padding-left: 0;
  }
}

.grid > .grid {
  margin-left: 0;
}
