.grid {
  margin-left: -.25rem;
  font-size: 0;
}

.grid--flex {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.grid--flex .grid__item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 auto;
  -moz-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  height: 100%;
}

.grid--flush {
  margin-left: 0;
}

.grid--flush>.grid__item {
  padding-left: 0;
}

@media (min-width:48rem) {
  .grid {
    margin-left: -.5rem;
  }
  .grid--compact {
    margin-left: -.25rem;
  }
  .grid--compact .grid__item {
    padding-left: .25rem;
  }
  .grid--flush {
    margin-left: 0;
  }
  .grid--flush>.grid__item {
    padding-left: 0;
  }
}

@media (min-width:64rem) {
  .grid {
    margin-left: -1rem;
  }
  .grid--compact {
    margin-left: -.5rem;
  }
  .grid--compact .grid__item {
    padding-left: .5rem;
  }
  .grid--flush {
    margin-left: 0;
  }
  .grid--flush>.grid__item {
    padding-left: 0;
  }
}

.grid>.grid {
  margin-left: 0;
}
